.chocolateContainer {
    border: 2px solid gray;
    border-radius: 2px;
}

.price {
  margin-left: 10px;
}

.description {
  margin-top: 3%;
  margin-right: 20%;
  margin-bottom: 20px;
}

.cart {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
